mat-dialog-content {
    text-align: center;
    /*background-color: #373e4a;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;

    padding: 1rem;

    border: 3px solid yellow;
    border-radius: 5px;

    span {
        text-align: center;
        margin: 5px;
        padding: 5px;
        width: 100%;
        border: 1px solid green;
        border-radius: 5px;
        background-color: green;
    }*/

    
}

button {
    border-radius: var(--buttonBorderRadius);
    margin: 5px;
    min-width: 15em;
    touch-action: pan-y !important;
}

mat-spinner {
    margin-left: 50%;
    margin-top: 24px;
    transform: translate(-50%);
}