.betItemResult {
    display: grid;
    text-align: center;
    font-size: 15px;
    align-items: center;
    grid-template-columns: 50% 50%;
    border-bottom: solid black 1px;
    padding: 10px 0;
}

.header {
    border: none;
    font-size: 18px;
}

.position {    
    font-weight: bold;
    margin-bottom: 5px;
    grid-column: 1 / 3;
}

p {
    text-align: center;
}

.bet {
    position: relative;
    grid-column-start: 1;
}

.result {
    grid-column-start: 2;
}

.fastest-lap {
    font-weight: bold;
    color: purple;
}

mat-spinner {
    margin-left: 50%;
    transform: translate(-50%);
}

.marker {
    height: 6px;
    width: 6px;
    transform: translate(-12px);
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    filter: invert(13%) sepia(71%) saturate(4478%) hue-rotate(324deg) brightness(103%) contrast(92%);
}