.betItemResult {
    display: grid;
    text-align: center;
    font-size: 15px;
    align-items: center;
    grid-template-columns: 50% 50%;
    border-bottom: solid black 1px;
    padding: 10px 0;
}

.header {
    border: none;
    font-size: 18px;
}

.position {
    font-weight: bold;
    margin-bottom: 5px;
    grid-column: 1 / 3;
}

p {
    text-align: center;
}

.bet {
    grid-column-start: 1;
}

.result {
    grid-column-start: 2;
}

.fastest-lap {
    font-weight: bold;
    color: purple;
}

mat-spinner {
    margin-left: 50%;
    transform: translate(-50%);
}