<section *ngIf="bet">
    
    <img src={{bet.flagImageUrl}}/>
    <h1>{{bet.country}}
    </h1>
    <h4>{{bet.name}}</h4>
    <h3>{{bet.dateRange}}</h3>
    <hr/>
    <section [ngSwitch]=bet.type>
        <section *ngSwitchCase="'championship'">
            <button mat-flat-button color="primary" (click)="openDriverDialog()">
                <span>Driver</span>
                <mat-icon class="right-arrow-icon">keyboard_arrow_right</mat-icon>
            </button>
            <button mat-flat-button color="primary" (click)="openConstructorDialog()">
                <span>Constructor</span>
                <mat-icon class="right-arrow-icon">keyboard_arrow_right</mat-icon>
            </button>
        </section>
        <section *ngSwitchCase="'race'">            
            <button mat-flat-button color="primary" (click)="openQualifyingDialog()">
                <span>Qualifying</span>
                <mat-icon class="right-arrow-icon">keyboard_arrow_right</mat-icon>
            </button>
            <button mat-flat-button color="primary" (click)="openRaceDialog()">
                <span>Race</span>
                <mat-icon class="right-arrow-icon">keyboard_arrow_right</mat-icon>
            </button>
            <button mat-flat-button color="primary" (click)="openDNFDialog()">
                <span>DNF</span>
                <mat-icon class="right-arrow-icon">keyboard_arrow_right</mat-icon>
            </button>
        </section>
    </section>
    <button mat-flat-button disabled>{{bet.points}} Points</button>
    <section class="admin-control" *ngIf="isAdmin" [ngSwitch]="bet.type">
        <button mat-flat-button *ngSwitchCase="'championship'" (click)="updateChampionshipResult()">Championship</button>
        <button mat-flat-button *ngSwitchDefault="" (click)="updateQualifyingResult()">Qualifying</button>
        <button mat-flat-button *ngSwitchDefault="" (click)="updateRaceResult()">Race</button>
    </section>
</section>