<mat-spinner *ngIf="!bet" color="primary"></mat-spinner>
<section *ngIf="bet" id="bet-page">
    <header id="bet-header">
        <img class="flag" src={{bet.race.flagImageUrl}}/>
        <h1>{{bet.race.country}}
        </h1>
        <h4>{{bet.race.name}}</h4>
        <h3 *ngIf="!dateMessage">{{bet.race.dateRange}}</h3>
        <p>{{dateMessage}}</p>
        <hr/>
    </header>
    <section id="bet-content">
        <section [ngSwitch]=bet.type>
            <section *ngSwitchCase="'championship'">
                <button mat-flat-button color="primary" (click)="openBetItemDialog(BetDataType.DRIVER)">
                    <span>{{ 'driver' | translate }}</span>
                    <mat-icon class="right-arrow-icon">keyboard_arrow_right</mat-icon>
                </button>
                <button mat-flat-button color="primary" (click)="openBetItemDialog(BetDataType.CONSTRUCTOR)">
                    <span>{{ 'constructor' | translate }}</span>
                    <mat-icon class="right-arrow-icon">keyboard_arrow_right</mat-icon>
                </button>
            </section>
            <section *ngSwitchCase="'race'">            
                <button mat-flat-button color="primary" (click)="openBetItemDialog(BetDataType.QUALIFYING)">
                    <span>{{ 'qualifying' | translate }}</span>
                    <mat-icon class="right-arrow-icon">keyboard_arrow_right</mat-icon>
                </button>
                <button mat-flat-button color="primary" (click)="openBetItemDialog(BetDataType.RACE)">
                    <span>{{ 'race' | translate }}</span>
                    <mat-icon class="right-arrow-icon">keyboard_arrow_right</mat-icon>
                </button>
                <button mat-flat-button color="primary" (click)="openBetItemDialog(BetDataType.DNF)">
                    <span>{{ 'dnf' | translate }}</span>
                    <mat-icon class="right-arrow-icon">keyboard_arrow_right</mat-icon>
                </button>
            </section>
        </section>
        <button mat-flat-button disabled class="disabled">{{bet.points}} {{ 'points' | translate }}</button>
        <section class="admin-control" *ngIf="isAdmin" [ngSwitch]="bet.type">
            <app-admin-control-button [typeGroup] = "BetItemTypeGroup.CHAMPIONSHIP" 
            [raceId] = "bet.race.id" class="championship" *ngSwitchCase="'championship'">
            </app-admin-control-button>
            <app-admin-control-button [typeGroup] = "BetItemTypeGroup.QUALIFYING" 
            [raceId] = "bet.race.id" *ngSwitchDefault=""></app-admin-control-button>
            <app-admin-control-button [typeGroup] = "BetItemTypeGroup.RACE" 
            [raceId] = "bet.race.id" *ngSwitchDefault=""></app-admin-control-button>
        </section>
        <img class="background" *ngIf="bet.race.trackSvg" src="/assets/track-svgs/{{bet.race.trackSvg}}">
    </section>
</section>