<section *ngIf="bet">
    
    <img src={{bet.flagImageUrl}}/>
    <h1>{{bet.title}}
    </h1>
    <h4>{{bet.name}}</h4>
    <p class="status" attr.data-status={{bet.status}}>{{bet.status}}</p>
    <hr/>
    <button mat-flat-button color="primary" (click)="openQualifyingDialog()">
        <span>Quali Positions</span>
        <mat-icon class="right-arrow-icon">keyboard_arrow_right</mat-icon>
    </button>
    <button mat-flat-button color="primary" (click)="openRaceDialog()">
        <span>Race Positions</span>
        <mat-icon class="right-arrow-icon">keyboard_arrow_right</mat-icon>
    </button>
    <button mat-flat-button color="primary" (click)="openDNFDialog()">
        <span>Race DNFs</span>
        <mat-icon class="right-arrow-icon">keyboard_arrow_right</mat-icon>
    </button>
</section>