<div mat-dialog-container>
    <div mat-dialog-content>
        <p>You are not a member of any league yet</p>
    </div>
    <div mat-dialog-actions>
        <mat-form-field>
            <input matInput type="text" name="create" #create>
            <button (click)="createLeague(create.value)" matSuffix mat-flat-button color="primary">
                <mat-label>New </mat-label>
                <mat-icon>add_circle_outline</mat-icon>
            </button>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="text" name="join" #join>
            <button (click)="joinLeague(join.value)" matSuffix mat-flat-button color="primary">
                <mat-label>Join </mat-label>
                <mat-icon>group_add</mat-icon>
            </button>
        </mat-form-field>
    </div>
</div>