mat-card {
    overflow: scroll;
    margin: 2em 2em 0 2em;
}

.leaderboard {
    max-height: 25vh;
}

mat-card-content {
    margin-top: 1em;
}

mat-spinner {
    margin-left: 50%;
    transform: translate(-50%);
}