<section>
    <mat-card>
        <mat-card-title>{{ 'leaderboard' | translate }}</mat-card-title>
        <mat-card-content class="leaderboard-content">
            <mat-spinner  *ngIf="!leagueOverview" color="primary"></mat-spinner>
            <p *ngFor="let user of leagueOverview?.users | keyvalue: valueDescOrder">
                {{user.key}} - {{user.value}} {{ 'points' | translate }}
            </p>
        </mat-card-content>
    </mat-card>
    
    <mat-card >
        <mat-card-title>{{ 'statistics' | translate }}</mat-card-title>
        <mat-card-content>
            <mat-spinner  *ngIf="leagueStatistics.size == 0" color="primary"></mat-spinner>
            <p *ngFor="let statistic of leagueStatistics | keyvalue">
                <span *ngIf="statistic.value">
                    {{ 'best' | translate }} {{statistic.key | translate}}: {{statistic.value}}
                </span>
            </p>
        </mat-card-content>
    </mat-card>
</section>