<section>
    <mat-card *ngIf="leagueOverview" class="leaderboard">
        <mat-card-title>Leaderboard</mat-card-title>
        <mat-card-content>
            <p *ngFor="let user of leagueOverview.users | keyvalue: valueDescOrder">
                {{user.key}} - {{user.value}} Points
            </p>
        </mat-card-content>
    </mat-card>
    
    <mat-card *ngIf="leagueOverview">
        <mat-card-title>Statistics</mat-card-title>
        <mat-card-content>
            <p *ngFor="let statistic of leagueStatistics | keyvalue">
                <span *ngIf="statistic.value">
                    Best at {{statistic.key}}: {{statistic.value}}
                </span>
            </p>
        </mat-card-content>
    </mat-card>
</section>