mat-card {
    margin: 2em 2em 0 2em;
}

.leaderboard-content {
    max-height: 25vh;
}

mat-card-content {
    margin-top: 1em;
    overflow-y: auto;
}


mat-spinner {
    margin-left: 50%;
    transform: translate(-50%);
}