<section>
    <mat-card *ngIf="leagueOverview" class="leaderboard">
        <mat-card-title>Leaderboard</mat-card-title>
        <mat-card-content>
            <p *ngFor="let user of leagueOverview.users | keyvalue: keyDescOrder">
                {{user.value}} - {{user.key}} Points
            </p>
        </mat-card-content>
    </mat-card>
    
    <mat-card *ngIf="leagueOverview">
        <mat-card-title>Statistics</mat-card-title>
        <mat-card-content>
            <p>
                ________&nbsp;&nbsp;&nbsp;&nbsp;_&nbsp;&nbsp;&nbsp;&nbsp;________
            </p>
            <p>
                ________&nbsp;&nbsp;&nbsp;&nbsp;_&nbsp;&nbsp;&nbsp;&nbsp;________
            </p>
            <p>
                ________&nbsp;&nbsp;&nbsp;&nbsp;_&nbsp;&nbsp;&nbsp;&nbsp;________
            </p>
            <p>
                ________&nbsp;&nbsp;&nbsp;&nbsp;_&nbsp;&nbsp;&nbsp;&nbsp;________
            </p>
        </mat-card-content>
    </mat-card>
</section>