<section class="home">
    <mat-select [ngModel]="selectedLeague" (ngModelChange)="onSelectedLeagueChange($event)" *ngIf="selectedLeague">
        <mat-option *ngFor="let league of leagues" [value]=league>
            {{league.name}}
        </mat-option>
    </mat-select>
    <div class="name-header">
        <span *ngIf="username">{{ 'logged-in' | translate }}: {{ username}}</span>
        <button id="logout" mat-stroked-button color="accent" routerLink="/login">{{ 'logout' | translate }}</button>
    </div>
    
    <app-league-overview [leagueId]="selectedLeague?.id"></app-league-overview>

</section>