.name-header {
    display: inline-flex;
    width: 100%;
    justify-content: center;
}

#logout {
    position: absolute;
    top: 0;
    right: 0;
}

/*.home {
    display: flex;
    justify-content: center;
}*/