<section *ngIf="userData" class="home">
    <mat-select [ngModel]="selectedLeague" (ngModelChange)="onSelectedLeagueChange($event)">
        <mat-option *ngFor="let league of userData.leagues" [value]=league>
            {{league.name}}
        </mat-option>
    </mat-select>

    <button mat-fab color="primary" (click)="openUserDialog()">
        <mat-icon svgIcon="user"></mat-icon>
    </button>

    <app-league-overview [leagueId]="userData.selectedLeague.id"></app-league-overview>

</section>