<section class="home">
    <mat-select *ngIf="selectedLeague" value={{selectedLeague.name}}>
        <mat-option *ngFor="let league of leagues" [value]=league.name>
            {{league.name}}
        </mat-option>
    </mat-select>
    <div class="name-header">
        <span *ngIf="username">logged in as: {{username}}</span>
        <button id="logout" mat-stroked-button color="accent" routerLink="/login">logout</button>
    </div>

    <div class="league-standings">
        
    </div>
    
</section>