#positions {
    text-align: center;
}

mat-spinner {
    margin-left: 50%;
    transform: translate(-50%);
}

button {
    touch-action: pan-y !important;
    border-radius: var(--buttonBorderRadius);
    margin: 10px;
    min-width: 15em;

    ::ng-deep span {
        pointer-events: none;
    }
}

.mat-button-disabled {
    color: var(--primaryColor) !important;
    font-weight: bolder;
}

.results .bets {
    display: flex;
    flex-direction: column;
}

.betresults {
    display: grid;
}

mat-dialog-container {
    padding: 0;
}

mat-dialog-actions {
    button {
        min-width: 50%;
        padding: 0;
        margin-left: 0 !important;
        margin: 0;
    }

    mat-label {
        min-width: 50%;
    }
    
}

.fastest-lap {
    background-color: var(--fastestLapColor);
}

.to-be-switched {
    animation-name: shakeX;
    animation-duration:  1.8s;
    animation-iteration-count: infinite;
}

.fastest-lap-btn {
    min-width: initial;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
    
.position-wrapper {
    position: relative;

    div {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
    
.position-num-wrapper {
    left: 0;
    transform: translate(-23px);

    span {
        font-size: 16px;
    }
}

@keyframes shakeX {
    0% { transform: translate3d(10px, 0, 0); }
  
    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translate3d(-10px, 0, 0);
    }
  
    20%,
    40%,
    60%,
    80%,
    100% {
      transform: translate3d(10px, 0, 0);
    }
  }