<mat-dialog-content>
    <mat-spinner *ngIf="!betItem" color="primary"></mat-spinner>
    <div *ngIf="betItemOpen">
        <div class="positions" *ngIf="betItem">
            <button mat-flat-button *ngFor="let position of betItem.positions; let index = index" 
            [color]="(position.betSubject.name) ? 'accent' : 'primary'" 
            [ngClass]="{'fastest-lap' : position.fastestLap}"
            (click)="betItem.type == 'constructor' ? openConstructorDialog(index) : openDriverDialog(index)"
            (press)="setFastestLap(index)" (pan)="setToEmpty($event, index)">
                P{{position.position}}: {{position.betSubject.name 
                    || (betItem.type == 'constructor' ?  ('select-a-constructor' | translate)  :  ('select-a-driver' | translate) )}}
            </button>
        </div>
    </div>
    <div *ngIf="!betItemOpen && betItem">
        <app-bet-results [betItemData]=betItemData></app-bet-results>
    </div>
</mat-dialog-content>
<mat-dialog-actions *ngIf="betItem">
    <button *ngIf="!betItemOpen" mat-button disabled class="points">{{betItem.points}} {{ 'points' | translate }}</button>
    <button color="warn" mat-button mat-dialog-close>{{betItemOpen ? ('cancel' | translate) : ('close' | translate)}}</button>
    <button color="accent" mat-button [mat-dialog-close]="betItem" *ngIf="betItemOpen">{{ 'save' | translate }}</button>
</mat-dialog-actions>