<p class="fastest-lap-hint" *ngIf="showFastestLapHint()">{{ 'fastest-lap-hint' | translate }}</p>
<mat-dialog-content cdkScrollable>
    <mat-spinner *ngIf="!betItem" color="primary"></mat-spinner>
    <div *ngIf="betItemOpen" #betSubjects>
        <div cdkDropList (cdkDropListDropped)="drop($event)" [cdkDropListAutoScrollStep]="5"
         id="positions" *ngIf="betItem">
            <div class="position-wrapper" *ngFor="let position of betItem.positions; let index = index">
                <span class="position-num">P{{position.position}}</span>
                <div cdkDrag cdkDragBoundary="mat-dialog-content" cdkDragLockAxis="y" 
                [cdkDragDisabled]="!position.betSubject.name">
                    <button mat-flat-button class="bet-subject-btn"                
                    [color]="(position.betSubject.name) ? 'accent' : 'primary'"
                    [ngClass]="{'fastest-lap' : position.fastestLap}"
                    (tap)="betItem.type == 'constructor' ? openConstructorDialog($event, index) 
                                                            : openDriverDialog($event, index)"
                    (press)="setFastestLap(index)" (pan)="setToEmpty($event, index)">
                        {{position.betSubject.name
                            || (betItem.type == 'constructor' ?  ('select-a-constructor' | translate)  :  ('select-a-driver' | translate) )}}
                    </button>
                    <mat-icon cdkDragHandle *ngIf="position.betSubject.name" class="reorder">
                        reorder
                    </mat-icon>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="!betItemOpen && betItem">
        <app-bet-results [betItemData]=betItemData></app-bet-results>
    </div>
</mat-dialog-content>
<mat-dialog-actions *ngIf="betItem">
    <button *ngIf="!betItemOpen" mat-button disabled class="points">{{betItem.points}} {{ 'points' | translate }}</button>
    <button color="warn" mat-button mat-dialog-close>{{betItemOpen ? ('cancel' | translate) : ('close' | translate)}}</button>
    <button color="accent" mat-button [mat-dialog-close]="betItem" *ngIf="betItemOpen">{{ 'save' | translate }}</button>
</mat-dialog-actions>