.positions {
    text-align: center;
}

button {
    border-radius: 0;
    margin: 10px;
    min-width: 15em;
}

.mat-button-disabled {
    color: var(--primaryColor) !important;
    font-weight: bolder;
}

.results .bets {
    display: flex;
    flex-direction: column;
}

.betresults {
    display: grid;
}

mat-dialog-container {
    padding: 0;
}

mat-dialog-actions {
    button {
        min-width: 50%;
        padding: 0;
        margin-left: 0 !important;
        margin: 0;
    }

    mat-label {
        min-width: 50%;
    }
    
}